

<div class='footer'>
  <div class='footer-contents'>
    <div class='furima-details'>
      <h2 class='footer-content-head'>大人の美容について</h2>
      <ul>
       
      </ul>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>健康について</h2>
    </div>
    <div class='furima-details'>
      <h2 class='footer-content-head'>コミニュティ</h2>
      <ul>
      </ul>
    </div>
  </div>
</div>